<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Strength</key>
	<dict>
		<key>Chest Press</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>Arm Curls</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>Bench Press</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Cardio</key>
	<dict>
		<key>Eliptical Trainer</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>Treadmill</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>Running</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
