<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weight Training</key>
	<dict>
		<key>Squat</key>
		<array>
			<array>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.5</real>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
				<string>Glutes</string>
				<string>Hips</string>
				<string>Abs</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Leg Press</key>
		<array>
			<array>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.5</real>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
				<string>Glutes</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Lunge</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
				<string>Hams</string>
				<string>Glutes</string>
				<string>Hips</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Deadlift</key>
		<array>
			<array>
				<integer>0</integer>
				<string>1</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
				<string>Hams</string>
				<string>Glutes</string>
				<string>Hips</string>
				<string>Lower Back</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Leg Extension</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<string>0</string>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Leg Curl</key>
		<array>
			<array>
				<real>0.5</real>
				<real>0</real>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Quads</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Standing Calf Raise</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Calves</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Seated Calf Raise</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Calves</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Hip Adductor</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Hips</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Bench Press</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Pecs</string>
				<string>Triceps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Chest Fly</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Pecs</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Push-Up</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Pecs</string>
				<string>Delts</string>
				<string>Triceps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Pulldown</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Lats</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Pull-Up</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<string>.5</string>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Lats</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Bent-Over Row</key>
		<array>
			<array>
				<integer>0</integer>
				<string>0</string>
				<string>0</string>
				<string>0</string>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Lats</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Upright Row</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Traps</string>
				<string>Delts</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Shoulder Press</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Delts</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Shoulder Fly</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Delts</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Lateral Raise</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Delts</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Shoulder Shrug</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<array>
				<string>Traps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Pushdown</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Triceps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Triceps Extension</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Triceps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Biceps Curl</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Biceps</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Crunch</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Abs</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Russian Twist</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Abs</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Leg Raise</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Hips</string>
				<string>Abs</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Back Extension</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Lower Back</string>
				<string>Glutes</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
	</dict>
	<key>Cardiovascular</key>
	<dict>
		<key>Eliptical Trainer</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Hams</string>
				<string>Calves</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
		<key>Treadmill</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<string>Hams</string>
				<string>Calves</string>
			</array>
			<string>http://</string>
			<string>workout_icon.png</string>
		</array>
	</dict>
</dict>
</plist>
