<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core</key>
	<array>
		<string>Chest</string>
		<string>Lats</string>
		<string>Middle Back</string>
		<string>Lower Back</string>
		<string>Abs</string>
		<string>Traps</string>
		<string>Neck</string>
	</array>
	<key>Arms</key>
	<array>
		<string>Biceps</string>
		<string>Triceps</string>
		<string>Forearm</string>
		<string>Shoulders</string>
	</array>
	<key>Legs</key>
	<array>
		<string>Glutes</string>
		<string>Calves</string>
		<string>Quads</string>
		<string>Hamstrings</string>
	</array>
</dict>
</plist>
